<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
        {% block stylesheets %}{% endblock %}
    </head>
    <body class="h-100 text-center">

        <header class="pt-5 mb-5 bg-primary text-white">
            <div class="container">
                <h1 class="display-4">Ma Bibliothèque</h1>
                <p class="lead">La science est la lumière et l'ignorance est l'obscurité</p>
            </div>
                <nav class="nav nav-pills nav-justified pt-5 d-flex justify-content-center">
                    <h5><a class="nav-item nav-link bg-primary text-white" href="{{ path('books_index') }}">Livres</a></h5>
                    <h5><a class="nav-item nav-link bg-primary text-white" href="{{ path('users_index') }}">Utilisateurs</a></h5>
                    <h5><a class="nav-item nav-link bg-primary text-white" href="{{ path('category_index') }}">Catégories</a></h5>            
                </nav>
        </header>

        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}

        <footer class="bg-primary text-white">
            <div class="container">
                <h3 class="mt-5 p-5">Réalisé par Hanane et Isabelle</h3>
            </div>
        </footer>

    </body>
</html>
